@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>Krishna Teja & Family started the Fast Pizza Delivery in 2018 to provide delicious, healthiest quick pizzas at a low price.</h4>

<p>Any pizza will be delivered fresh within 15 minutes of making the order.<p>

<p>Along the way, Krishna and Family won many loyal customers who were addicted to the delicious pizzas.</p>

<p>We want to be a perfect go to little pizza delivery place of Redmond. <p>
