@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Amazing Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    (503)-000-0123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@fastpizza.com">Support@fastpizza.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fastpizza.com">Marketing@fastpizza.com</a>
</address>